<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CRUD-MYSQL</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand">CRUD-MYSQL</a>
      <a href="/activos" class="navbar-brand">Activos</a>
      <a href="/definiciones" class="navbar-brand">definiciones</a>
      <a href="/fuentes" class="navbar-brand">Fuentes</a>
      <a href="/indicadores" class="navbar-brand">Indicadores</a>
      <a href="/mediciones" class="navbar-brand">Mediciones</a>
      <a href="/periodosescolares" class="navbar-brand">Periodos</a>
      <a href="/programas" class="navbar-brand">Programas</a>
      <a href="/sinonimos" class="navbar-brand">Sinonimos </a>
      <a href="/tipoactivo" class="navbar-brand">TipoActivo</a>
    </nav>
    