<%- include ('partials/_header') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <input type="text" name="idDefinicion" placeholder="IdDefinicion" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="idTipoActivo" placeholder="IdTipoActivo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="descripcion" placeholder="Descripcion" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="url" placeholder="Url" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Save Activo
                    </button>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>

<%- include ('partials/_footer') %>