<%- include ('partials/_header') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
            <form action="/add" method="post">
                <div class="form-group">
                    <input type="text" name="idActivo" placeholder="IdActivo" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('partials/_footer') %>